body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(135deg, #6c1ea0, #6e48aa);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 250px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column row;
    align-items: center ;
    text-align: center left;
}

.mockups {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.text {
    padding: 50px ;
    max-width: 600px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-register {
    background-color: #ea4c89;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-register:hover {
    background-color: #d43d77;
}

footer {
    margin-top: 20px;
}

.social-icons {
    display: block;
    float: inline-end;
    
}

.social-icons a i {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    transition: 0.3s;
    
}